.MuiOutlinedInput-notchedOutline {
    border-color: black !important;
}

.MuiFilledInput-root {
    border-bottom: 1px solid black !important;
}

.MuiInputBase-root {
    margin-right: 10px !important;
}

.MuiInput-root {
    border-bottom: 1px solid black !important;
}
.css-v4u5dn-MuiInputBase-root-MuiInput-root:after{
    border-bottom: 1px solid black !important;
}
.css-v4u5dn-MuiInputBase-root-MuiInput-root{
    margin-bottom: 8px
}
.css-1nrby9y-MuiTypography-root-MuiLink-root {
    display: flex !important;
    justify-content: center;
}